.location-container {
  padding: 25px 35px;
  margin-left: 10%;
}

.location-button {
  outline: none;
  width: 80%;
  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  background-image: var(--gradient);
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 200ms ease;
  transition: transform 200ms ease;
}

.location-button:hover {
  transform: scale(0.95);
}

.location-button .feather {
  height: 1em;
  width: auto;
  margin-right: 5px;
}
